.main-content {
  padding-top: 156px;
  min-height: calc(100vh - 35px);
}
@media (max-width: 1199px) {
  .main-content {
    padding-top: 75px;
  }
}
@media (max-width: 768px) {
  .main-content {
    padding-top: 52px;
  }
}
/*---------BEGIN : main header---------------*/
.header-container {
  width: 100%;
  padding: 0 30px;
}
.main-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  transition: 300ms;
  box-shadow: -1px 4px 14px 0 rgba(0, 0, 0, 0.22);
  &.headroom--unpinned {
    top: -113px;
  }
  .bottom-header {
    padding: 6px 0px;
    border-bottom:  1px solid darken($app-skyblue, 2%);
    height: 75px;
    .header-container {
      align-items: center;
    }
    .project-title{
      font-size: toRem(48);
      color: darken($app-secondary,10%);
      margin-bottom: 0px;
      font-weight: 600;
    }
    .navbar-nav {
      flex-direction: row;
      .nav-item {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
      .nav-link {
        position: relative;
        color: darken($app-white, 10%);
        font-size: toRem(14);
        padding: 10px;
        @extend %common-transition;
        &:hover,
        &:focus,
        &.active {
          color: $app-white;
        }
        &.active:before {
          opacity: 1;
        }
        &:before {
          content: "";
          display: inline-block;
          width: 16px;
          border-bottom: 2px solid $app-primary;
          position: absolute;
          bottom: 0px;
          left: 50%;
          @include css3-prefix(transform, translateX(-50%));
          @extend %common-transition;
          opacity: 0;
        }
      }
    }
    .navbar-brand {
      padding-top: 0px;
      padding-bottom: 0px;
      .logo {
        @extend %flex-vh-center;
        height: 62px;
        margin-right: 20px;
      }
      span {
        display: block;
        font-size: toRem(12);
        color: #fff;
        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
  .menu-wrapper {
    @extend %common-transition;
  }
  .menu-toggle-btn-group{
    @extend %d-flex;
    margin-left: auto;
    .nav-menu-tog-btn {
      display: none;
    }
    .btn{
      border-radius: 20px;
      height: 40px;
      &.signin-btn{
        i,svg{
          display: none;
        }
      }
    } 
  } 
  
  .nav-menu-close-btn {
    display: none;
  }
  .header-logo-2 {
    margin-right: 0px;
  }
  .top-header{
    height: 38px;
    overflow: hidden;
    .top-header-link{
      font-size: 18px;
      color: #fff;
      i,svg{
        font-size: 18px;
        height: 18px;
        width: 18px;
      }
      span{
        font-size: 14px;
      }
    }
    .top-header-toggele-btn{
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      padding: 6px 13px;
      border-left: 1px solid #73afd2;
      border-radius: 0;
      background-color: #fff;
      color: $app-secondary;
    }
    
  }
  .bottom-menu{
    height: 44px;
    .nav-link{
      font-weight: 400 !important;
      &.active{
        color: $app-primary;
      }
    }
  }
  .res-btn{
    display: none;
  }
}
.nav-menu-overflow-hidden,
.settings-menu-overflow-hidden {
  overflow: hidden;
}
.settings-menu{
  @extend %common-transition;
}
@media (max-width: 1366px) {
  .main-header{
    .bottom-menu{
      .navbar-nav{
        gap: 2px !important;
      }
      .nav-link{
        font-size: 14px;
      }
    } 
  } 
}
@media (max-width: 1199px) {
  .main-header {
    .bottom-header {
      .navbar-brand {
        .logo {
          margin-right: 15px;
          .second-logo{
            height: 45px;
          }
        }
        span {
          font-size: toRem(12);
        }
      }
     
    }
    .top-header{
      position: absolute;
      z-index: 1;
      max-width: 385px;
      margin-inline: auto;
      inset: 0 0 0 0;
      border-radius: 0 0 10px 10px;
      translate: 0 -100%;
      padding-right: 48px;
      box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.141);
      transition: 150ms;

      &.top-header-visible{
        translate: 0 0;
      }
      .top-header-toggele-btn{
        display: block;
      }
    } 
    .res-btn{
      display: block;
    }
    .bottom-menu{
      position: fixed;
      right: -100%;
      top: 0;
      height: 100vh;
      width: 280px;
      box-shadow: 0px -1px 15px 3px rgba(0, 0, 0, 0.188);
      transition: 150ms;
      &.bottom-menu-visible{
        right: 0;
      }
      .navbar-nav{
        height: 100%;
        width: 100%;
        overflow: auto;
        flex-direction: column;
        text-align: center;
        padding: 40px 15px;
        display: block;
      }
    }
    .bottom-menu-close-btn{
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      height: 35px;
      width: 35px;
      border-radius: 0 0 0 11px;
    }
    .menu-toggle-btn-group{
      .btn{
        width: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        &.signin-btn{
          span{
            display: none;
          }
          i,svg{
            display: block;
          }
        }
      }
    } 
  }
  .header-container {
    padding: 0 15px;
  }
}
@media (max-width: 1024px) {
  .main-header .bottom-header {
    .navbar-nav {
      flex-direction: column;
      text-align: center;

      .nav-item {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
      .nav-link {
        margin-right: 0px;
        &:not(.active) {
          color: $app-secondary;
        }
      }
    }
    .menu-toggle-btn-group .nav-menu-tog-btn{
      display: block;
    }
    .project-title{
      padding-block: 2px;
    }
  }
 
  .main-header {
    .bottom-header .menu-wrapper {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      background-color: #fff;
      width: 200px;
      overflow: auto;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      box-shadow: -4px -1px 14px 1px rgba(0, 0, 0, 0.18);
      overflow: hidden;
      z-index: 1;
      overflow: auto;
      &.menu-active {
        right: 0px;
      }
      .nav-menu-close-btn {
        position: absolute;
        display: block;
        right: 0px;
        top: 3px;
      }
    }
  }
}
@media (max-width: 767px) {
  .header-container {
    padding: 0 10px;
  }
  .main-header {
   
    .bottom-header {
      padding: 5px 0px 5px 0px;
      height: auto;
      .navbar-brand {
        .logo {
          margin-right: 9px;
          height: auto;
          .first-logo{
            width: 26px !important;
            height: auto !important;
          }
          .second-logo {
            height: 30px;
          }
        }
        span {
          font-size: 7.5px;
          margin-bottom: 1px;
        }
      }
      .header-logo-1 {
        margin-right: 20px;
      }
      .header-logo-2 {
        img {
          width: 49px;
          height: auto;
        }
      }
      .project-title{
        font-size: 2rem;
        padding-block: 0px;
      }
    }
    .menu-toggle-btn-group .btn{
      @include cirEle(30px);
      padding: 0px;
      svg {
        @include sqrEle(14px);
      }
    }
    .imp-links-dropdown {
      position: absolute !important;
      right: 10px;
      top: 11px;
      .nav-link {
        @include cirEle(30px);
        overflow: hidden;
        border: 1px solid $app-primary;
        padding: 0px;
        display: flex;
        justify-content: center;
        color: $app-primary !important;
        text-indent: -100000px;
        &:after {
          display: none;
        }
        svg {
          @include sqrEle(14px);
          margin-right: 0px;
        }
      }
      .dropdown-menu {
        right: 0px;
        left: auto;
      }
    }
    &.headroom--unpinned {
      margin-top: -42px;
    }
  }
}

@media(min-width: 1200px){
  .main-header .title-menu-group{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 630px;
    margin: auto;
  }
}
@media(max-width: 575px){
  .main-header .top-header{
    height: auto;
    min-height: max-content;
    .header-container{
      flex-direction: column;
      .seprator{
        display: none;
      }
    }
    .top-header-toggele-btn{
      padding: 3px 10px;
      border-radius: 0 0 0 9px;
    }
  }
}
/*---------END : main header---------------*/
/*---------BEGIN : form table section---------------*/
.form-table-section {
  width: 100%;
  padding: 0 30px;
}
.form-table-card{
  background-color: $app-white;
  border-radius: 15px;
  box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.25);
  padding: 40px 20px;
}
.form-container-1{
  width: 100%;
  max-width: 630px;
  margin-inline: auto;
  min-height: toRem(14);
}
@media (max-width: 575px){
  .form-table-section {
    padding: 0 12px;
  }
  .form-table-card{
    padding: 20px 20px;
  }
}
/*---------END : form table section---------------*/
/*---------BEGIN : main footer---------------*/
.main-footer{
  width: 100%;
  
}
/*---------END : main footer---------------*/



/*---------BEGIN : focus area---------------*/
.batch-detail-inline-card{
  position: relative;
  .bet-text{
    color: #ababab;
  }
  .batch-detail-name{
    padding-right: 72px;
  }
  .btn-box{
    position: absolute;
    right: 10px;
    top: 10px;
    .btn{
      border-radius: 15px;
    }
  }
}
.info-box{
  .info-box-label{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  .info-box-text{
    font-size: 14px;
  }
}
/*---------BEGIN : focus area---------------*/
/*---------BEGIN : focus area---------------*/
.section-main-action-cards{
  background-color: #CFEDFF;
  

}
.main-action-card{
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
  transition: 150ms;
  &:hover,&:focus{
    scale: 1.05;
  }
  .card-label-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 16px;
    border-bottom: 1px solid rgba(255,255,255,0.41);
    .icon-wrapper{
      display: grid;
      place-items: center;
      height: 65px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #fff;
    }
    .label-icon{
      height: 30px;
      font-size: 30px;
    }
    p{
      font-size: 22px;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: 0px;
    }
  }
  .rediect-link {
    display: block;
    color: #fff;
    padding: 12px 10px;
    font-size: 20px;
    text-align: center;
    i,svg{
      transition: 150ms;
    }
    &:hover, &:focus{
      i,svg{
        translate: 5px 0;
      }
    }
  }
  @media(max-width: 768px){
    .card-label-container{
      .icon-wrapper{
        height: 55px;
      }
      .label-icon{
        height: 20px;
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
/*---------END : focus area---------------*/


