@import "./app-varibles";

/*BEGIN : website main banner */
.web-main-banner{
    position: relative;
  }
  .web-main-banner button,
  .web-main-banner button:hover,
  .web-main-banner button:focus{
    outline: none !important;
  }
  .web-main-banner .item{
    position: relative;
    height: calc(100vh - 84px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
  }
  .web-main-banner .item:before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    /* background-color: rgba(0, 0, 0, 0.671); */
  }
  .web-main-banner .item .itme-content{
    position: relative;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 768px;
    margin-inline: auto;
    background-color: #0006;
    padding: 30px 10px;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
  }
  
  .web-main-banner .item .itme-content .item-title{
    font-weight: 700;
    font-size: 75px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 32px;
    animation: slideTop 500ms ease-in;
  }
  @keyframes slideTop{
    0%{
      opacity: 0;
      transform: translateY(-80px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .web-main-banner .item .itme-content .item-desc{
    font-weight: 200;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    animation: slideBottom 500ms ease-in;
  }
  @keyframes slideBottom{
    0%{
      opacity: 0;
      transform: translateY(80px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .web-main-banner .owl-nav{
    margin: 0px;
  }
  .web-main-banner .owl-nav button{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 134px;
    width: 134px;
    background-size: 30% !important;
    margin: 0px !important;
    transition: 150ms;
  }
  
  .web-main-banner .owl-nav button:hover{
    background-color: transparent !important;
    opacity: 0.7;
  }
  .web-main-banner .owl-nav button:hover,
  .web-main-banner .owl-nav button:focus{
    outline: none;
  }
  .web-main-banner .owl-nav button span{
    display: none;
  }
  .web-main-banner .owl-nav button.owl-prev{
    left: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 36 70'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M34.75 68.5 1.25 35l33.5-33.5'/%3E%3C/svg%3E") !important;
  }
  .web-main-banner .owl-nav button.owl-next{
    right: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 36 70'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.25 68.5 34.75 35 1.25 1.5'/%3E%3C/svg%3E") !important;
  }
  .scroll-to-main-cont{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -23px;
    z-index: 1;
    background-color: transparent;
    border: none;
    outline: none;
    animation: slideTop 500ms ease-in;
  }
  .scroll-to-main-cont path{
    transform-box: fill-box;
  
  }
  .scroll-to-main-cont #mouseOutline{
    stroke-dasharray: 0 0;
    transition: 150ms;
  }
  @keyframes mouseMovingStroke{
    0%{
      stroke-dashoffset: 0;
    }
    50%{
      stroke-dashoffset: 140;
    }
    100%{
      stroke-dashoffset: 0;
    }
  }
  .scroll-to-main-cont:hover #mouseOutline,
  .scroll-to-main-cont:focus #mouseOutline{
    stroke-dasharray: 30 5 ;
    animation: mouseMovingStroke 8s infinite linear forwards;
  }
  .scroll-to-main-cont #scrollWheel{
    animation: scrollWhillToBotAnim 800ms ease infinite;
  }
  @keyframes scrollWhillToBotAnim{
    0%{
      opacity: 1;
      transform: translateY(0px);
    }
    50%{
      opacity: 1;
      
    }
    100%{
      opacity: 0;
      transform: translateY(5px);
    }
  }
  .scroll-to-main-cont #scrollArrows path{
    stroke: #919191;
    animation: scrollArrorColor 800ms ease-in-out infinite alternate;
  }
  .scroll-to-main-cont #scrollArrows path:nth-child(4){
    animation-delay: 0ms;
  }
  .scroll-to-main-cont #scrollArrows path:nth-child(3){
    animation-delay: 200ms;
  }
  .scroll-to-main-cont #scrollArrows path:nth-child(1){
    animation-delay: 400ms;
  }
  .scroll-to-main-cont #scrollArrows path:nth-child(2){
    animation-delay: 600ms;
  }
  @keyframes scrollArrorColor{
    0%{
      stroke: #919191;
    }
    100%{
      stroke: #fff;
    }
  }
  .main-banner-nav-btn{
    position: absolute;
    top: 50%;
    margin-top: -68px;
    
    background-color: transparent;
    border: none;
    z-index: 1;
  }
  .main-banner-nav-btn.nav-prev{
    left: 10px;
    animation: slideLeft 500ms ease-in;
  }
  
  .main-banner-nav-btn.nav-next{
    right: 10px;
    animation: slideRight 500ms ease-in;
  }
  @keyframes slideRight{
    0%{
      opacity: 0;
      transform: translateX(-80px);
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes slideLeft{
    0%{
      opacity: 0;
      transform: translateX(80px);
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .main-banner-nav-btn path{
    transform-box: fill-box;
    transition: 600ms;
    transform-origin: center;
    stroke-width: 2px;
    stroke: rgba(255, 255, 255, 0.341);
  }
  .main-banner-nav-btn:hover path,
  .main-banner-nav-btn:focus path{
    stroke: rgba(255, 255, 255, 1);
  }
  
  .main-banner-nav-btn.nav-prev:hover path,
  .main-banner-nav-btn.nav-prev:focus path{
    d: path("M90.5 29L33 66.5L90.5 104");
  }
  .main-banner-nav-btn.nav-next:hover path,
  .main-banner-nav-btn.nav-next:focus path{
    d: path("M43 104L100.5 66.5L43 29");
  }
  @media (max-width: 1199px){
    .main-banner-nav-btn{
        height: 80px;
        width: 80px;
    }
    .main-banner-nav-btn svg{
        height: 100%;
        width: 100%;
    }
    .scroll-to-main-cont{
        width: 36px;
        height: 85px;
        bottom: 8px;
    }
    .scroll-to-main-cont svg{
        height: 100%;
        width: 100%;
    }
    .web-main-banner .item .itme-content{
        max-width: 575px;
        padding: 0 15px;
    }
    .web-main-banner .item .itme-content .item-title{
        font-size: 35px;
        line-height: 56px;
        margin-bottom: 22px;
    }
    .web-main-banner .item .itme-content .item-desc{
        font-size: 16px;
        line-height: 30px;
    }
    .web-main-banner .item{
        height: calc(100vh - 64px);
    }
  }
  @media (max-width: 768px){
    .main-banner-nav-btn{
        display: none;
    }
  }
  @media (max-width: 575px){
    .web-main-banner .item .itme-content .item-title{
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .web-main-banner .item{
      height: auto;
      min-height: 422px;
      padding: 30px 15px 100px;
    }
  }
  /*END : website main banner */
    /*BEGIN : section common pad*/
    .app-sec-common-pad{
        padding-block: 60px;
      }
      @media (max-width: 768px){
        .app-sec-common-pad{
          padding-block: 30px;
        }
      }
      /*END : section common pad*/
       /*BEGIN : section title*/
  .app-section-title{
    color: $app-secondary;
    font-size: 30px;
    line-height: 1.75rem;
    position: relative;
    margin-bottom: 54px;
    padding-bottom: 17px;
}

.app-section-title:before{
    content: "";
    width: 37px;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-inline: auto;
    border-bottom: 4px solid $app-primary;
}
@media (max-width: 575px){
    .app-section-title{
        font-size: 24px;
        line-height: 1.15rem;
        text-align: center;
        margin-bottom: 30px;
    }
    .app-section-title:before{
        left: 0;
        right: 0;
        margin-inline: auto;
    }
}
/*END : section title*/
 /*BEGIN : app policy card */
 
  /* END : app policy card */